<!DOCTYPE html>
<html lang="zh-Hans">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="首页">
    <meta name="keywords" content="aa,bb">
    <title>首页</title>
    <link rel="shortcut icon" href="http://127.0.0.1:8000/static/image/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="../static/css/main.css">
    <script>
        var resourceUrl = "http://127.0.0.1:8000/static/"
        var isLogin = 0;
    </script>
</head>

<body id="page" data-id="main">

<header class="head">
<div class="wrap">
    头部,其实公共部分可以提取出来，这里没有做提取动作
</div>
</header>

<section class="wrap">
    <h1>
        中间内容部分
    </h1>
    <div class="tap">单击我</div>
    <div class="img">
        <img class="full" src="../static/image/image.png">
    </div>
</section>

<footer class="head">
    <article class="wrap">
        底部,其实公共部分可以提取出来，这里没有做提取动作
    </article>
</footer>



<script type="text/javascript" src="../static/js/plugin/seajs-3.0.0/dist/sea.js"></script>
<script type="text/javascript" src="../static/js/common/config.js"></script>

</body>
</html>